:root {
    --serif: "Open Sans", sans-serif;
    --lato: "Lato", sans-serif;


    // colors ****
    --yellow-color: #ecb13e;
    --blue-color: #4635ff;
    --heading-color: #39acff;
    --sub-heading-color: #8cb43d;
    --sub-heading-color-two: #1c1b1b;
    --paragraph-color: #0e59f2;
    --sub-paragraph-color: #67797e;
    --sub-paragraph-two: #74b784;
    --tertiary-color: #235947;
    --span: #151314b2;
    --overlay-color: #088cac;
    --main-bg: #ffffff;
    --sub-bg: #fffef9;
    --sub-bg-three: #fafafb;
    --border: #15131433;
    --border-light: #06120e1a;
    --white: #ffffff;
    --black: #000000;
    --hover-bg: #0a05057b;


    // Transitions ***
    --transition: all 0.4s ease-in-out;
}