//<==== Side contact form style start hare ====>>

.questions {
    .sidebar-form {
        background-image: url(../../assets/images/background/05.jpg);
        @include bg-image;

        & {
            padding: 15px;
        }

        .title {
            font-size: 30px;
            font-family: var(--serif);
            font-size: 500;
            color: var(--white);
            line-height: 36px;
        }

        input,
        textarea {
            border: none;
            width: 100%;
            margin-top: 20px;
            padding: 8px;
            color: var(--white);
            background-color: rgba(2, 15, 30, 0.1);
            &::placeholder{
                color: var(--white);
            }
        }
    }
}

//<==== Side contact form style end hare ====>>



//<==== Main contact form style start hare ====>>


.main-contact {

    padding: 120px 0px;
    background-color: var(--white);

    .info-item {
        background: #e6e9e8;
        padding: 50px 30px 37px;
        text-align: center;

        h4 {
            margin-top: 10px;
            margin-bottom: 10px;
            color: var(--heading-color);
            font-size: 20px;
            font-family: var(--serif);
            font-weight: 600;

            @media screen and (max-width:1200px) {
                font-size: 18px;

            }
        }

        a {

            color: var(--heading-color);
            font-size: 20px;
            font-family: var(--serif);
            font-weight: 600;

            @media screen and (max-width:1200px) {
                font-size: 16px;

            }

        }
    }

    .contact-form {
        margin-top: 30px;
        padding: 56px 56px 60px 56px;
        background-color: #e0c6a5;
        border-radius: 20px;

        h4 {
            font-size: 40px;
            font-family: var(--lato);
            line-height: 45px;
            color: var(--black);
            margin-bottom: 30px;
            text-transform: capitalize;

            @media screen and (max-width:1200px) {
                font-size: 30px;
                line-height: 35px;

            }

            @media screen and (max-width:425px) {
                font-size: 20px;
                line-height: 25px;

            }
        }

        label {
            font-size: 20px;
            font-family: var(--serif);
            font-weight: 500;
            margin-bottom: 8px;
            color: var(--black);

            @media screen and (max-width:1200px) {
                font-size: 18px;

            }

            @media screen and (max-width:425px) {
                font-size: 16px;
                line-height: 20px;

            }
        }

        input,
        textarea {
            width: 100%;
            padding: 14px 16px;
            border-radius: 12px;
            border: none;
            margin-bottom: 24px;
                  &::placeholder{
                    font-size: 20px;
                    @media screen and (max-width:425px) {
                            font-size: 13px;
                           
                    
                        }
                  }

        }
    }

}
//<==== Main contact form style end hare ====>>